<mdb-navbar SideClass="navbar navbar-expand-sm navbar-dark indigo fixed-top scrolling-navbar">
  <mdb-navbar-brand><a class="navbar-brand" href="#">PolyPaintPro</a></mdb-navbar-brand>

  <links>
      <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
              <a class="nav-link waves-light" mdbWavesEffect>Gallery</a>
          </li>
          <li class="nav-item">
              <a class="nav-link waves-light" mdbWavesEffect>Users</a>
          </li>
          <li class="nav-item">
              <a class="nav-link waves-light" mdbWavesEffect>Administration</a>
          </li>
      </ul>
  </links>
</mdb-navbar>
<div class="container" style="margin-top: 5rem;">
  <gallery-component></gallery-component>
</div>